<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>SCP ARCHIVES</h1>
    <div class="logo">
      <img src="https://lafundacionscp.wdfiles.com/local--files/terminal-de-catalogacion/SCP%20Logo%20Verde.png" alt="logo">
    </div>
    Greetings, Doctor ▇▇▇▇▇▇▇▇▇ and congradulations on your promotion! We are well aware that the previous head of research ▇▇▇▇ was torn apart limb from limb by SCP-▇▇▇ so the bravery you show by accepting this job offer will not go unnoticed. As the new head of research, you are to orchestrate all future tests on the SCPs provided by the foundation and catalog your findings in our database. Unforunately, due to the secrecy of this role, you are not allowed to leave the foundation for any reasons. SCP research will be your life going forwards. Do not worry about your friends and family, we have gotten our best operative, Vin Diesel, to act as your indefinite replacement. Your family will not tell the difference, but even if they did, let's be hoenst with ourselves, they probably wont complain. You have plenty of work to do, so please, log in to continue to the main page.</br>
    <a href="/scp">Proceed</a>
  </body>
</html>
