<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <form action="/scp" method="POST">
      SCP: <input type="text" name="name"/><br/>
      SCP_IMG: <input type="text" name="img"/><br/>
      SCP_Sighting: <input type="text" name="found"/><br/>
      SCP_Detainment: <input type="text" name="detained"/><br/>
      SCP_Related_Supernatural_Pheonomena: <input type="text" name="capabilities"/><br/>
      SCP_Threat_Level: <input type="text" name="threat"/><br/>
      SCP_Experiment: <input type="text" name="experiment"/><br/>
      SCP_Warnings: <input type="text" name="warning"/><br/>
      <input type="submit" value="Add To Database">
    </form>

  </body>
</html>
